*{
    box-sizing: border-box;
    margin:5px;
    padding: 0;;
}
.contenedor{
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
}
body{
    background-color: blanchedalmond;
}
button{
    padding: 5px;
    border-radius: 5px;
}
    